<section class="h-screen">
    <div class="px-6 h-full text-gray-800">
      <div
        class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
      >
        <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <label class="text-3xl">Вход</label>
            <div class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5">
            </div>
  
            <div class="p-3 mb-2 bg-red-100" *ngIf="errorMsg">
              <span class="text-red-800">
                {{ errorMsg }}
              </span>
            </div>

            <!-- Email input -->
            <div class="mb-6">
              <input
                name="email"
                required
                ngModel
                type="email"
                class="form-input"
                placeholder="Email address"
                />
              </div>
              
              <!-- Password input -->
              <div class="mb-6">
                <input
                name="password"
                ngModel
                required
                type="password"
                class="form-input"
                placeholder="Password"
              />
            </div>
  
            <div class="text-center lg:text-left">
              <input
                type="submit"
                value="Войти"
                [disabled]="!f.valid"
                class="btn"
              >
              <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                Нет аккаунта?
                <a routerLink="/register"
                  class="text-red-600 hover:text-red-700 focus:text-red-700"
                  >Создать</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>